In [1]:
from pandas import read_csv
from sklearn.model_selection import KFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [6]:
#Memanggil dataset
filename ='c:/tugas_sdt/pima-indians-diabetes.data.csv'
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe=read_csv(filename,names=names)
dataframe.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [7]:
#Insert data ke dalam array
array =dataframe.values
X = array[:,0:8] #slicing dataframe ke dalam array
Y = array[:,8]

In [8]:
#Validasi
kfold = KFold(n_splits = 10,random_state = 7,shuffle =True)
model = DecisionTreeClassifier()

In [9]:
result = cross_val_score(model,X,Y,cv = kfold)
print(result.mean())

0.6889439507860561

# Menghitung data prediksi

In [10]:
data=[[8,183,64,0,0,23.3,0.672,32],
      [1,89,66,23,94,28.1,0.167,21]]
model.fit(X,Y)
y_pred = model.predict(data)
#0 berarti diprediksi diabetes, 1 diprediksi sebagai tidak diabetes
print('Hasil prediksi:',y_pred)

Hasil prediksi: [1. 0.]

# Menampilkan skor akurasi

In [11]:
#Melihat skor akurasi
from sklearn.metrics import accuracy_score
print('Accuracy score: %0.2f'% accuracy_score(Y,model.predict(X)))

Accuracy score: 1.00

# Report

In [12]:
from sklearn.metrics import classification_report
print(classification_report(Y,model.predict(X)))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00       500
         1.0       1.00      1.00      1.00       268

    accuracy                           1.00       768
   macro avg       1.00      1.00      1.00       768
weighted avg       1.00      1.00      1.00       768

In [13]:
from sklearn.metrics import confusion_matrix
predicted = model.predict(X)
matrix = confusion_matrix(Y,predicted)
print(matrix)

[[500   0]
 [  0 268]]

# Using Split Validation and Report Classification

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=7)
model.fit(X_train,Y_train)
predict=model.predict(X_test)
report = classification_report(Y_test,predict)
print(report)

              precision    recall  f1-score   support

         0.0       0.78      0.84      0.81       122
         1.0       0.68      0.60      0.64        70

    accuracy                           0.75       192
   macro avg       0.73      0.72      0.72       192
weighted avg       0.75      0.75      0.75       192

In [15]:
predictedmatrix=model.predict(X_test)
confmatrix=confusion_matrix(Y_test,predictedmatrix)
print(confmatrix)

[[102  20]
 [ 28  42]]

In [16]:
#Melihat skor akurasi
print('Accuracy : %0.2f'% accuracy_score(Y_test,model.predict(X_test)))

Accuracy : 0.75

In [17]:
import json
 
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'
 
# parse x:
y = json.loads(x)
 
# the result is a Python dictionary:
print(y)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [18]:
import json
 
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
 
# convert into JSON:
y = json.dumps(x)
 
# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [19]:
import pandas as pd  
  
# assign data of lists.  
data = {'Name': ['Tom Jerry', 'Joseph Markisa', 'Krish Dayanty', 'John Lenon'], 'Age': [20, 21, 19, 18],
       'gab':['12Aku','13Dia','14Kamu','15Mereka']}  
  
# Create DataFrame  
df = pd.DataFrame(data)  
  
# Print the output.  
print(df)

             Name  Age       gab
0       Tom Jerry   20     12Aku
1  Joseph Markisa   21     13Dia
2   Krish Dayanty   19    14Kamu
3      John Lenon   18  15Mereka

In [20]:
#df['firstname'] = df['Name'].split()
#df\ ['firstname'] = df\['Name'].apply(lambda x: x.split()\[0])
#df ['firstname'] = df['Name'].apply(lambda x: x.split())
df ['firstname'] = df['Name'].apply(lambda x: x.split()[0])
df

             Name  Age       gab firstname
0       Tom Jerry   20     12Aku       Tom
1  Joseph Markisa   21     13Dia    Joseph
2   Krish Dayanty   19    14Kamu     Krish
3      John Lenon   18  15Mereka      John

In [21]:
df['gab'].str.split('(d\+) (\[A-Za-z])+', expand=True)

          0
0     12Aku
1     13Dia
2    14Kamu
3  15Mereka